.brand-logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Maintain aspect ratio */
}
.brand-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-decoration: none;
}

label.error {
    color: red;
    font-size: x-small;
    margin-bottom: 15px;
    margin-top: 0px;
}
.invalid-feedback{
    display: block !important;
}

body{
    
    overflow-x: hidden;
    font-family: 'Arial', sans-serif !important;
    margin: 0 !important;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.col-md-12.first-child {
    padding: 0;
}
.second-child {
    /* margin-top: 15px !important; */
    margin-bottom: 12px;
}

.banner {
    width: 100%;
    height: 400px;
}
.banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.second-child .left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-image {
    padding: 10px;
    border: 1px solid #e9e9e9;
    /* margin: 10px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
}
.map img {
    width:auto;
    height: 92%;
    object-fit: cover;
}
.right-child.height-fixed {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discrittion-box, .bottom-image {
    height: 50%;
}
 
.bottom-image img {
    width: 100%;
    height: 292px;
}
.discrittion-box h5 {
    font-size: 20px;
    font-weight: 700;
    color: #ec4809;
}
.discrittion-box p {
    font-size: 13px;
    color: #464646;
}
.discrittion-box li {
    font-size: 13px;
    color: #545454;
}
.discrittion-box h6 {
    font-weight: 600;
    letter-spacing: .3px;
}
/* .discrittion-box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
} */
.right-child, .left-image {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.height-fixed {
    height: 450px;
}
.wrapper, .my-slider.slick-initialized.slick-slider {
    height: 100%;
}
.slick-list.draggable, .img-slider {
    /* height: 520px; */
    height: 100%;
    overflow: hidden;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px !important;
    line-height: 1;
    opacity: 1 !important;
    color: rgb(255, 255, 255) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button.slick-prev.slick-arrow {
    position: absolute;
    left: 5px;
    z-index: 1;
}
button.slick-next.slick-arrow {
    position: absolute;
    right: 15px;
}
.bottom-image button.slick-next.slick-arrow {
    position: absolute;
    right: 15px;
    top: 51%;
}
.bottom-image button.slick-prev.slick-arrow {
    position: absolute;
    right: 15px;
    top: 51%;
}
.logo-header {
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 10px !important;
        position: absolute;
}
.left-logo, .right-logo {
    height: 105px;
}
.left-logo img, .right-logo img{
    width: 90px;
    object-fit: cover;
    height: auto;
    border-radius: 60%;
}
.middle {
    width: 500px;
    background-color: #ffffffed;
    vertical-align: middle;
    border-radius: 30px;
    padding: 6px;
}
marquee {
    margin: 0;
    line-height: 25px;
    padding: 0;
    height: 20px;
    font-size: 15px;
    color: #c42911;
}
.map-quiz-title {
    margin: 0px 10px;
    /* background-color: #b86517; */
    padding: 10px;
    border: 2px solid #ffec2a;
    animation: drift 1s linear infinite, bg-color-change 1s linear infinite; /* Add background animation */
}
.col-md-6.second-childd .map {
    background-color: #fff;
    width: 100%;
}
.slick-track {
    height: 100%;
}
.main-container.row.g-0 {
    background-color: #f5f5f5;
}

/* Keyframes for background color change */
@keyframes bg-color-change {
    0% {
        background-color: red; /* Start with red */
    }
    50% {
        background-color: blue; /* Change to blue */
    }
    100% {
        background-color: red; /* Back to red */
    }
}

.map.height-fixed.text-center p {
    font-size: 16px;
    margin: 0;
    color: #fff;
}

.footer {
    background-color: #6f6f6f;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer p {
    margin: 0;
    font-size: 12px;
}
.border{
    
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.map a {
    width: 100%;
}
.discription-box h5 {
    font-size: 16px;
    font-weight: 700;
    color: #ec4809;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    width: max-content;
}
.discription-box h6 {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    border-bottom: 2px solid;
    padding: 5px 10px;
    width: max-content;
    background-color: #ffff7e;
}
.discription-box p, .discription-box li{
    font-size: 12px;
}
.row.g-3.mx-3.second-child-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-md-6.second-childd .map.login-form {
    background-color: unset;
    width: 100%;
}
.col-md-6.second-childd .map.login-form form{
    background-color: #fff;
    height: 100%;
}
.text-center.col-md-6.second-childd {
    display: flex;
    align-items: center;
    justify-content: center;
}
.question-form .map.height-fixed {
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.question-form .map.height-fixed a {
    position: absolute;
    width: auto;
    bottom: 15px;
    right: 20px;
    background-color: #975454;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.question-form .map.height-fixed form label {
    font-size: 15px;
}
.question-form .map.height-fixed form input {
    font-size: 14px;
}
.certificate-box .map.height-fixed.text-center {
    padding: 20px;
}
.certificate-box img {
    width: auto;
    height: 100%;
}
.login-form button#submitButton {
    background-color: #ec4809;
    border: none;
    margin-top: 20px;
}
div#timer {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 10px;
}
.submit-container {
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user-timer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 101;
    padding: 10px 15px;
    border-bottom: 1px solid #e7e7e7;

}
.question-form .map.height-fixed {
    padding-right: 0;
}
.user-timer-box h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
div#timer {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    padding: 0px;
    margin: 0 !important;
}
.submit-container button#submitButton {
    background-color: #ec4809;
    border: none;
}
@media (max-width:1299px) {
    .map img {
        width: auto;
        height: 450px;
        object-fit: cover;
    }
    .bottom-image {
        height: 186px;
    }
    .bottom-image img {
        width: 100%;
        height: 100%;
    }
    .bottom-image button.slick-prev.slick-arrow, .bottom-image button.slick-next.slick-arrow{
        top: 50%;
    }
}

@media (min-width:1921px){
    .main-container, .logo-header {
        width: 1905px !important;
        margin: 0 auto;
        display: flex !important;
        justify-self: center;

    }
    .row.g-0.mx-3.second-child-box {
        margin: 0 !important;
    }
    .main-container{
        height: unset;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .banner {
        width: 100%;
        height: 258px;
    }
    .left-logo, .right-logo {
        height: 65px;
    }
    .left-logo img, .right-logo img {
        width: 64px;
    }
    .middle {
        width: 60%;
        background-color: #ffffffed;
        vertical-align: middle;
        border-radius: 30px;
        padding: 2px 6px;
    }
    marquee {
        margin: 0;
        line-height: 25px;
        padding: 0;
        height: 21px;
        font-size: 14px;
        color: #c42911;
    }
    .second-child .second-child-box {
        display: flex;
        flex-direction: column-reverse;
    }
    .second-child-box .first-childd, .second-child-box .second-childd, .second-child-box .third-childd {
        width: 100%;
        margin: 10px 0;
    }
    .bottom-image img {
        width: 100%;
        height: 100%;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 467px !important;
        min-height: 1px;
    }
    .right-child.height-fixed {
        height: auto;
    }
    .right-child.height-fixed {
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }
    .bottom-image .wrapper {
        height: 467px;
    }
    .height-fixed {
        height: 488px;
    }
    .discrittion-box {
        padding: 15px 5px;
    }
    .discrittion-box h5 {
        font-size: 24px;
    }
    .discrittion-box p {
        font-size: 19px;
        color: #464646;
    }
    .discrittion-box li {
        font-size: 17px;
        color: #545454;
    }
    .discrittion-box h6{
        font-family: 22px;
    }

}

@media only screen and (min-width: 1025px) and (max-width: 1299px){
    .bottom-image img {
        width: 100%;
        height: 274px;
    }
    .banner {
        width: 100%;
        height: 230px;
    }
    .height-fixed {
        height: 320px;
    }
    .discrittion-box {
        height: 40%;
    }
    .bottom-image{
        height: 50%;
    }
    .second-child .left-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .map img {
        width: auto;
        height: 270px;
        object-fit: cover;
    }
    .discrittion-box h5 {
        font-size: 14px;
        font-weight: 700;
        color: #ec4809;
    }
    .discrittion-box h6 {
        font-weight: 600;
        letter-spacing: .3px;
        font-size: 11px;
    }
    .discrittion-box p {
        font-size: 10px;
        color: #464646;
        margin-bottom: 6px;
    }
    .discrittion-box li {
        font-size: 10px;
        color: #545454;
    }
    .bottom-image {
        height: 45%;
    }
    .discription-box h5 {
        font-size: 14px;
    }
    .discription-box p, .discription-box li {
        font-size: 12px;
    }
    .discription-box h6 {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1599px){
    .bottom-image img {
        width: 100%;
        height: 274px;
    }
    .banner {
        width: 100%;
        height: 280px;
    }
    .height-fixed {
        height: 385px;
    }
    .discrittion-box {
        height: 40%;
    }
    .bottom-image{
        height: 50%;
    }
    .discrittion-box h5 {
        font-size: 16px;
        font-weight: 700;
        color: #ec4809;
    }
    .discrittion-box h6 {
        font-weight: 600;
        letter-spacing: .3px;
        font-size: 13px;
    }
    .discrittion-box p {
        font-size: 12px;
        color: #464646;
        margin-bottom: 6px;
    }
    .discrittion-box li {
        font-size: 12px;
        color: #545454;
    }
    .map img {
        width: auto;
        height: 337px;
        object-fit: cover;
    }
    .bottom-image {
        height: 45%;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1900px){
    .bottom-image img {
        width: 100%;
        height: 274px;
    }
    .banner {
        width: 100%;
        height: 280px;
    }
    .height-fixed {
        height: 420px;
    }
    .discrittion-box {
        height: 40%;
    }
    .bottom-image{
        height: 50%;
    }
    .discrittion-box h5 {
        font-size: 16px;
        font-weight: 700;
        color: #ec4809;
    }
    .discrittion-box h6 {
        font-weight: 600;
        letter-spacing: .3px;
        font-size: 13px;
    }
    .discrittion-box p {
        font-size: 12px;
        color: #464646;
        margin-bottom: 6px;
    }
    .discrittion-box li {
        font-size: 12px;
        color: #545454;
    }
    .map img {
        width: auto;
        height: 370px;
        object-fit: cover;
    }
    .bottom-image {
        height: 45%;
    }
}




